Note: first run preprocessing.ipynb to add required file to

In [32]:
import pandas as pd
import numpy as np
import pickle

In [33]:
with open('clean_data.pk', 'rb') as handle:
    data = pickle.load(handle)

In [34]:
data

,MeetTijd,HR(bpm),SpO2(%),NIBP(mmHg),IcNaOk,Length_MeetTijd,Percentage HR nan,Percentage SpO2 nan,Percentage NIBP nan
0,"[15:03:40, 15:04:40, 15:05:41, 15:06:41, 15:07...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[143, 143, 143, 143, 143, 143, 143, 143, 143, ...",0.0,89,0.179775,0.179775,0.067416
1,"[15:32:32, 15:33:32, 15:34:33, 15:35:33, 15:36...","[51, 49, 57, 49, 55, 50, 56, 49, 50, 49, 54, 4...","[92, 92, 87.5, 93, 93, 93, 92, 95, 93, 92, 93,...","[118, 118, 118, 120, 120, 120, 120, 120, 120, ...",0.0,146,0.000000,0.006849,0.020548
2,"[08:45:22, 08:46:23, 08:47:23, 08:48:24, 08:49...","[79, 75, 71, 88, 88, 84, 66, 66, 76, 78, 79, 8...","[98, 98, 98, nan, nan, 96, 98, 98, 97, 97, 96,...","[129, 129, 129, 129, nan, nan, nan, 145, 145, ...",0.0,200,0.010000,0.020000,0.015000
3,"[08:40:08, 08:41:08, 08:42:09, 08:43:09, 08:44...","[102, 99, 99, 101, 96, 101, 99, 79, 75, 80, 76...","[93, 95.58, 96.16, 96.08, 97.83, 96.66, 97.75,...","[150, 158, 2, 151, 2, 2, 152, 152, 2, 100, 1, ...",0.0,178,0.005618,0.039326,0.005618
4,"[09:09:53, 09:10:53, 09:11:54, 09:12:54, 09:13...","[56, 57, 56, 58, 58, 57, 57, 63, 59, 55, 59, 5...","[97, 97, 98, 97, 98, 98, 97.5, 98, 98, 98, 98,...","[136, 131, 131, 131, 131, 131, 144, 144, 144, ...",0.0,75,0.000000,0.013333,0.066667
...,...,...,...,...,...,...,...,...,...
12732,"[15:19:57, 15:20:27, 15:20:57, 15:21:27, 15:21...","[nan, 69, 66, 66, 67, 66, 68, 68, 67, 66, 69, ...","[100, 100, 100, 100, 100, 98, 99, 98, 100, 99,...","[nan, nan, 203, nan, nan, nan, nan, nan, nan, ...",0.0,158,0.018987,0.037975,0.867089
12733,"[19:14:19, 19:14:49, 19:15:19, 19:15:49, 19:16...","[nan, 80, 81, 76, 83, 84, 79, 88, 82, 81, 80, ...","[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[nan, 123, nan, nan, nan, nan, nan, nan, nan, ...",0.0,357,0.008403,0.019608,0.837535
12734,"[15:17:54, 15:18:24, 15:18:54, 15:19:00, 15:20...","[67, nan, 68, 68, 68, 68, 71, 67, 67, 66, 66, ...","[97, 98, 98, 97, 95, 91, 98, 98, 98, 98, 98, 9...","[nan, nan, nan, nan, 115, nan, nan, nan, nan, ...",0.0,427,0.014052,0.103044,0.857143
12735,"[17:39:54, 17:40:24, 17:40:54, 17:41:24, 17:41...","[100, 103, 97, 101, 100, 106, 107, 106, 107, 1...","[99, 99, 99, 99, 99, 99, 100, 99, 99, 100, 99,...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",0.0,243,0.012346,0.037037,0.872428
12736,"[19:24:26, 19:24:56, 19:25:25, 19:25:56, 19:26...","[74, 75, 75, 74, 69, 73, 73, 72, 73, 79, 75, 7...","[98, 98, 96, 96, 97, 98, 98, 98, 99, 98, 100, ...","[178, nan, nan, nan, nan, nan, nan, 185, nan, ...",1.0,134,0.007463,0.007463,0.850746

In [35]:
data['Mean HR'] = data['HR(bpm)'].apply(lambda x: np.nanmean(x.astype(float)))
data['Std HR'] = data['HR(bpm)'].apply(lambda x: np.nanstd(x.astype(float)))
data['Max HR'] = data['HR(bpm)'].apply(lambda x: np.nanmax(x.astype(float)))
data['Min HR'] = data['HR(bpm)'].apply(lambda x: np.nanmin(x.astype(float)))
data['Mean SpO2'] = data['SpO2(%)'].apply(lambda x: np.nanmean(x.astype(float)))
data['Std SpO2'] = data['SpO2(%)'].apply(lambda x: np.nanstd(x.astype(float)))
data['Max SpO2'] = data['SpO2(%)'].apply(lambda x: np.nanmax(x.astype(float)))
data['Min SpO2'] = data['SpO2(%)'].apply(lambda x: np.nanmin(x.astype(float)))
data['Mean NIBP'] = data['NIBP(mmHg)'].apply(lambda x: np.nanmean(x.astype(float)))
data['Std NIBP'] = data['NIBP(mmHg)'].apply(lambda x: np.nanstd(x.astype(float)))
data['Max NIBP'] = data['NIBP(mmHg)'].apply(lambda x: np.nanmax(x.astype(float)))
data['Min NIBP'] = data['NIBP(mmHg)'].apply(lambda x: np.nanmin(x.astype(float)))

<ipython-input-35-26d6925a1e1e>:1: RuntimeWarning: Mean of empty slice
  data['Mean HR'] = data['HR(bpm)'].apply(lambda x: np.nanmean(x.astype(float)))
C:\Users\Flori\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\lib\nanfunctions.py:1664: RuntimeWarning: Degrees of freedom <= 0 for slice.
  var = nanvar(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
<ipython-input-35-26d6925a1e1e>:3: RuntimeWarning: All-NaN slice encountered
  data['Max HR'] = data['HR(bpm)'].apply(lambda x: np.nanmax(x.astype(float)))
<ipython-input-35-26d6925a1e1e>:4: RuntimeWarning: All-NaN slice encountered
  data['Min HR'] = data['HR(bpm)'].apply(lambda x: np.nanmin(x.astype(float)))
<ipython-input-35-26d6925a1e1e>:5: RuntimeWarning: Mean of empty slice
  data['Mean SpO2'] = data['SpO2(%)'].apply(lambda x: np.nanmean(x.astype(float)))
<ipython-input-35-26d6925a1e1e>:7: RuntimeWarning: All-NaN slice encountered
  data['Max SpO2'] = data['SpO2(%)'].apply(lambda x: np.nanmax(x.astype(float)))
<ipython-input-35-26d6925a1e1e>:8: RuntimeWarning: All-NaN slice encountered
  data['Min SpO2'] = data['SpO2(%)'].apply(lambda x: np.nanmin(x.astype(float)))
<ipython-input-35-26d6925a1e1e>:9: RuntimeWarning: Mean of empty slice
  data['Mean NIBP'] = data['NIBP(mmHg)'].apply(lambda x: np.nanmean(x.astype(float)))
<ipython-input-35-26d6925a1e1e>:11: RuntimeWarning: All-NaN slice encountered
  data['Max NIBP'] = data['NIBP(mmHg)'].apply(lambda x: np.nanmax(x.astype(float)))
<ipython-input-35-26d6925a1e1e>:12: RuntimeWarning: All-NaN slice encountered
  data['Min NIBP'] = data['NIBP(mmHg)'].apply(lambda x: np.nanmin(x.astype(float)))

In [37]:
data.sort_values(by=['Min HR'], ascending=True)

,MeetTijd,HR(bpm),SpO2(%),NIBP(mmHg),IcNaOk,Length_MeetTijd,Percentage HR nan,Percentage SpO2 nan,Percentage NIBP nan,Mean HR,...,Max HR,Min HR,Mean SpO2,Std SpO2,Max SpO2,Min SpO2,Mean NIBP,Std NIBP,Max NIBP,Min NIBP
4472,"[12:49:54, 12:50:55, 12:51:56, 12:52:57, 12:53...","[67, 65, 69, 141, 75, 79, 158, 67, 63, 70, 81,...","[94, 97, 96, 97.5, 99, nan, 99, 99, 99, 99, 99...","[151, 151, 151, 151, 121, 121, 84, 84, 85, 85,...",0.0,135,0.007407,0.037037,0.007407,70.335821,...,241.0,0.0,97.375769,1.464890,99.0,88.5,129.395522,27.297427,173.0,75.0
3846,"[12:35:46, 12:36:47, 12:37:48, 12:38:49, 12:39...","[64, 98, 85, 93, 99, 122, 114, 105, 100, 105, ...","[87.26, 99.94, 95.71, 97.61, 99.36, 99.9, 98.9...","[nan, nan, 116, 113, 113, 113, 160, 160, 160, ...",0.0,172,0.046512,0.122093,0.017442,84.725610,...,191.0,0.0,95.433179,4.294611,100.0,70.0,112.047337,19.097015,160.0,65.0
1471,"[15:19:11, 15:20:12, 15:21:12, 15:22:13, 15:23...","[97, 100, 97, 99, 96, 96, 104, 84, 86, 83, 98,...","[95.19, 95.1, 94.52, 95.23, 95, 95.33, 99.97, ...","[nan, nan, 214, 210, 210, 210, 210, 210, 210, ...",0.0,127,0.000000,0.015748,0.055118,97.244094,...,132.0,0.0,98.627520,1.257563,100.0,90.0,155.391667,35.279431,214.0,74.0
7807,"[10:10:52, 10:11:23, 10:11:53, 10:12:24, 10:12...","[73, 72, 71, 67, 76, 76, 79, 77, 72, 76, 75, 6...","[96, 97, 96, 97, 97, 96, 97, 97, 96, 98, 96, 9...","[nan, 151, 151, 151, 151, 151, 151, 140, 140, ...",0.0,213,0.051643,0.032864,0.009390,66.658416,...,95.0,0.0,98.834951,1.814703,100.0,91.0,115.966825,18.497953,159.0,91.0
3188,"[08:28:01, 08:29:02, 08:30:03, 08:31:04, 08:32...","[71, 68, 70, 135, 69, 69, 168, 169, 71, 149, 1...","[96, 97, 97, 97, 97, 98, nan, 97, 97, 97, 98, ...","[nan, 169, 161, 161, 161, 149, 149, 149, 159, ...",0.0,268,0.000000,0.026119,0.007463,67.850746,...,186.0,0.0,98.459732,1.143981,100.0,93.0,127.548872,16.888385,169.0,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12110,"[11:38:00, 12:40:00, 12:41:00, 12:42:02, 12:42...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, 99, 99, 100, 100, 100, 100, 100, 100, 10...","[138, nan, nan, nan, nan, nan, nan, nan, nan, ...",0.0,69,1.000000,0.028986,0.898551,NaN,...,NaN,NaN,96.671642,1.615116,100.0,93.0,117.857143,16.110587,138.0,96.0
12184,"[14:30:31, 14:31:01, 14:31:31, 14:32:01, 14:32...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[100, 100, 100, 100, 100, 100, 95, 96, 95, 95,...","[nan, nan, nan, 105, nan, nan, 104, nan, nan, ...",0.0,101,1.000000,0.000000,0.891089,NaN,...,NaN,NaN,98.990099,1.650053,100.0,93.0,106.272727,5.674359,114.0,91.0
12209,"[13:55:00, 13:55:30, 13:56:00, 13:56:30, 13:57...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[nan, nan, nan, nan, nan, 133, nan, nan, nan, ...",0.0,94,1.000000,0.000000,0.893617,NaN,...,NaN,NaN,99.797872,0.401587,100.0,99.0,129.000000,13.168143,145.0,92.0
12214,"[14:11:31, 14:12:01, 14:12:31, 14:13:01, 14:13...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[130, nan, nan, nan, nan, nan, 147, nan, nan, ...",0.0,91,1.000000,0.000000,0.879121,NaN,...,NaN,NaN,97.098901,1.437756,100.0,95.0,129.272727,15.362829,153.0,108.0
12267,"[13:21:26, 13:21:57, 13:22:27, 13:22:57, 13:23...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[99, 99, 98, 98, 98, 97, 100, 100, 99, 98, 100...","[nan, nan, nan, 140, nan, nan, nan, nan, nan, ...",0.0,84,1.000000,0.000000,0.892857,NaN,...,NaN,NaN,98.428571,0.744595,100.0,96.0,137.222222,8.854099,157.0,126.0

In [38]:
data90 = data[(data['Percentage HR nan']<0.10) & (data['Percentage SpO2 nan']<0.10) & (data['Percentage NIBP nan']<0.10)]
data95 = data[(data['Percentage HR nan']<0.05) & (data['Percentage SpO2 nan']<0.05) & (data['Percentage NIBP nan']<0.05)]
data99 = data[(data['Percentage HR nan']<0.01) & (data['Percentage SpO2 nan']<0.01) & (data['Percentage NIBP nan']<0.01)]
data100 = data[(data['Percentage HR nan']==0) & (data['Percentage SpO2 nan']==0) & (data['Percentage NIBP nan']==0)]

In [39]:
data95.iloc[0]['NIBP(mmHg)']

array(['118', '118', '118', '120', '120', '120', '120', '120', '120',
       '111', '111', '111', '111', 'nan', 'nan', '120', '1', '127', '127',
       '127', '136', '136', '136', '111', '111', '111', '120', '120',
       '120', '168', '168', '168', '130', '130', '130', '115', '115',
       '115', '112', '112', '112', '133', '133', '133', '135', '135',
       '135', '130', '130', '130', '116', '116', '116', '116', '116',
       '116', '118', '118', '118', '115', '115', '115', '118', '118',
       '118', '111', '111', '111', '109', '109', '109', '110', '110',
       '110', '112', '112', '112', '115', '115', '115', '113', '113',
       '113', '108', '108', '108', '109', '109', '109', '109', '109',
       '109', '109', '109', '109', '109', '109', 'nan', '144', '1', '140',
       '140', '140', '140', '140', '129', '129', '129', '129', '129',
       '129', '129', '129', '129', '129', '128', '128', '128', '128',
       '128', '120', '120', '120', '120', '120', '120', '120', '120',
       '120', '120', '124', '124', '124', '124', '124', '116', '116',
       '116', '116', '116', '130', '130', '130', '130', '130', '118'],
      dtype='<U32')

In [40]:
data100.tail(5)

,MeetTijd,HR(bpm),SpO2(%),NIBP(mmHg),IcNaOk,Length_MeetTijd,Percentage HR nan,Percentage SpO2 nan,Percentage NIBP nan,Mean HR,...,Max HR,Min HR,Mean SpO2,Std SpO2,Max SpO2,Min SpO2,Mean NIBP,Std NIBP,Max NIBP,Min NIBP
6557,"[19:07:11, 19:08:12, 19:09:13, 19:10:14, 19:11...","[71, 72, 111, 178, 90, 79, 211, 83, 84, 81, 82...","[96, 95, 95.5, 97, 95, 95, 94.5, 93, 95, 95, 9...","[222, 208, 208, 208, 208, 208, 208, 208, 202, ...",1.0,50,0.0,0.0,0.0,84.480000,...,211.0,71.0,95.290000,0.964832,98.0,93.0,178.180000,17.586006,222.0,159.0
6631,"[20:04:42, 20:05:12, 20:05:43, 20:06:13, 20:06...","[77, 90, 86, 80, 87, 93, 93, 108, 87, 77, 76, ...","[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[141, 141, 141, 141, 141, 141, 138, 138, 138, ...",1.0,88,0.0,0.0,0.0,68.943182,...,111.0,60.0,100.000000,0.000000,100.0,100.0,113.068182,16.106743,141.0,87.0
7284,"[14:34:08, 14:34:38, 14:35:09, 14:35:39, 14:36...","[92, 92, 92, 92, 92, 83, 92, 92, 96, 98, 91, 9...","[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[141, 141, 141, 141, 141, 146, 146, 146, 146, ...",1.0,149,0.0,0.0,0.0,76.919463,...,100.0,59.0,99.543624,1.308122,100.0,92.0,108.530201,18.981997,146.0,78.0
7865,"[18:43:29, 18:44:00, 18:44:30, 18:45:01, 18:45...","[94, 86, 93, 94, 90, 91, 94, 90, 90, 89, 86, 8...","[93, 95, 95, 94, 95, 94, 93, 93, 100, 100, 100...","[164, 164, 164, 164, 164, 164, 164, 164, 164, ...",1.0,139,0.0,0.0,0.0,81.503597,...,94.0,72.0,97.201439,1.751381,100.0,91.0,119.489209,18.724572,164.0,85.0
8156,"[22:11:27, 22:11:57, 22:12:28, 20:58:23, 20:58...","[113, 114, 114, 134, 136, 136, 137, 137, 141, ...","[95, 97, 97, 98, 98, 98, 98, 98, 98, 98, 97, 9...","[147, 131, 131, 100, 100, 100, 84, 84, 84, 84,...",1.0,147,0.0,0.0,0.0,114.190476,...,147.0,96.0,98.170068,1.467907,100.0,92.0,106.476190,17.968731,153.0,75.0

In [41]:
import matplotlib.pyplot as plt

In [153]:
data100.sort_values(by=['Length_MeetTijd'], ascending=True).head(10)

,MeetTijd,HR(bpm),SpO2(%),NIBP(mmHg),IcNaOk,Length_MeetTijd,Percentage HR nan,Percentage SpO2 nan,Percentage NIBP nan,Mean HR,...,Max HR,Min HR,Mean SpO2,Std SpO2,Max SpO2,Min SpO2,Mean NIBP,Std NIBP,Max NIBP,Min NIBP
2182,"[13:19:23, 13:20:24, 13:21:24, 13:22:25, 13:23...","[66, 63, 62, 61, 60, 60, 60, 60]","[92, 94, 94.5, 97, 96, 96, 95, 97]","[141, 127, 127, 127, 123, 123, 123, 122]",0.0,8,0.0,0.0,0.0,61.500000,...,66.0,60.0,95.187500,1.579903,97.00,92.00,126.625000,5.786568,141.0,122.0
3459,"[22:02:21, 22:03:21, 22:04:22, 22:05:23, 22:06...","[84, 110, 154, 113, 138, 94, 68, 69, 70, 84, 75]","[94, 95, 99, 87, 99, 99, 99, 99, 99, 99, 99]","[201, 201, 139, 139, 139, 161, 161, 151, 151, ...",1.0,11,0.0,0.0,0.0,96.272727,...,154.0,68.0,97.090909,3.629539,99.00,87.00,158.636364,21.299905,201.0,139.0
458,"[20:27:56, 20:28:56, 20:29:57, 20:30:57, 20:31...","[69, 67, 71, 117, 83, 78, 73, 70, 67, 67, 89, ...","[98, 98, 98, 79, 81, 93, 99, 99, 99, 99, 99, 9...","[142, 142, 142, 142, 142, 142, 142, 142, 142, ...",1.0,13,0.0,0.0,0.0,79.461538,...,117.0,67.0,95.307692,6.718340,99.00,79.00,142.000000,0.000000,142.0,142.0
5991,"[13:03:20, 13:04:21, 13:05:22, 13:06:22, 13:07...","[80, 96, 84, 81, 75, 77, 82, 81, 79, 86, 78, 8...","[96.21, 95.02, 96.56, 96.45, 96.98, 95.62, 96....","[137, 137, 141, 141, 141, 135, 135, 135, 132, ...",0.0,19,0.0,0.0,0.0,80.789474,...,96.0,75.0,96.215789,0.706774,97.57,94.44,134.789474,3.532987,141.0,130.0
5086,"[20:34:07, 20:35:08, 20:36:09, 20:37:10, 20:38...","[99, 90, 83, 78, 71, 70, 63, 68, 69, 68, 69, 6...","[98.5, 98, 98, 98, 98, 98, 98, 98, 98, 98, 98,...","[164, 164, 164, 131, 131, 131, 129, 129, 129, ...",1.0,20,0.0,0.0,0.0,72.400000,...,99.0,61.0,98.275000,0.402337,99.00,98.00,136.250000,11.780811,164.0,129.0
3873,"[21:35:21, 21:36:22, 21:37:23, 21:38:24, 21:39...","[95, 91, 90, 92, 87, 85, 89, 98, 64, 61, 62, 6...","[95, 97, 95, 91.5, 99, 92, 99, 99, 99, 99, 99,...","[198, 198, 198, 183, 193, 193, 193, 116, 116, ...",1.0,21,0.0,0.0,0.0,78.619048,...,98.0,61.0,97.000000,2.251983,99.00,91.50,126.904762,48.462951,198.0,64.0
2853,"[21:19:08, 21:20:09, 21:21:09, 21:22:09, 21:23...","[93, 98, 100, 94, 96, 100, 94, 78, 70, 70, 68,...","[95.34, 95.06, 95.39, 95.04, 95.08, 95.54, 98....","[166, 165, 165, 165, 159, 159, 159, 126, 126, ...",1.0,22,0.0,0.0,0.0,73.363636,...,100.0,49.0,96.947727,1.230506,98.66,95.04,139.409091,17.608518,166.0,120.0
1751,"[17:20:04, 17:21:05, 17:22:05, 17:23:06, 17:24...","[103, 101, 103, 98, 98, 101, 101, 102, 99, 107...","[97.57, 97.41, 96.85, 98.06, 97.46, 98.8, 98.2...","[122, 126, 126, 126, 130, 130, 130, 130, 118, ...",1.0,33,0.0,0.0,0.0,103.090909,...,112.0,87.0,98.491515,0.846741,100.00,96.39,104.303030,14.652510,130.0,90.0
3510,"[14:02:42, 14:03:43, 14:04:43, 14:05:44, 14:06...","[105, 111, 116, 79, 84, 100, 81, 78, 79, 81, 7...","[97, 97.33, 96.08, 95.08, 98.5, 98.5, 99, 97, ...","[124, 124, 124, 124, 124, 158, 153, 153, 153, ...",0.0,37,0.0,0.0,0.0,78.243243,...,116.0,57.0,98.472703,0.971125,99.00,95.08,116.783784,15.343165,158.0,94.0
4675,"[14:06:54, 14:07:55, 14:08:56, 14:09:56, 14:10...","[55, 50, 66, 52, 57, 57, 48, 46, 63, 42, 126, ...","[98, 97, 95, 95, 91.5, 91, 91, 99, 99, 99, 98,...","[136, 136, 136, 136, 130, 130, 130, 135, 135, ...",0.0,38,0.0,0.0,0.0,52.500000,...,126.0,41.0,96.947368,2.525630,99.00,91.00,115.210526,22.988736,150.0,75.0