In [2]:
import pandas as pd
import numpy as np
import pickle

In [4]:
with open('clean_data.pk', 'rb') as handle:
    data = pickle.load(handle)

In [5]:
data

,MeetTijd,HR(bpm),SpO2(%),NIBP(mmHg),IcNaOk,Length_MeetTijd
0,"[15:03:40, 15:04:40, 15:05:41, 15:06:41, 15:07...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[143, 143, 143, 143, 143, 143, 143, 143, 143, ...",0.0,89
1,"[15:32:32, 15:33:32, 15:34:33, 15:35:33, 15:36...","[51, 49, 57, 49, 55, 50, 56, 49, 50, 49, 54, 4...","[92, 92, 87.5, 93, 93, 93, 92, 95, 93, 92, 93,...","[118, 118, 118, 120, 120, 120, 120, 120, 120, ...",0.0,146
2,"[08:45:22, 08:46:23, 08:47:23, 08:48:24, 08:49...","[79, 75, 71, 88, 88, 84, 66, 66, 76, 78, 79, 8...","[98, 98, 98, nan, nan, 96, 98, 98, 97, 97, 96,...","[129, 129, 129, 129, nan, nan, nan, 145, 145, ...",0.0,200
3,"[08:40:08, 08:41:08, 08:42:09, 08:43:09, 08:44...","[102, 99, 99, 101, 96, 101, 99, 79, 75, 80, 76...","[93, 95.58, 96.16, 96.08, 97.83, 96.66, 97.75,...","[150, 158, 2, 151, 2, 2, 152, 152, 2, 100, 1, ...",0.0,178
4,"[09:09:53, 09:10:53, 09:11:54, 09:12:54, 09:13...","[56, 57, 56, 58, 58, 57, 57, 63, 59, 55, 59, 5...","[97, 97, 98, 97, 98, 98, 97.5, 98, 98, 98, 98,...","[136, 131, 131, 131, 131, 131, 144, 144, 144, ...",0.0,75
...,...,...,...,...,...,...
12732,"[15:19:57, 15:20:27, 15:20:57, 15:21:27, 15:21...","[nan, 69, 66, 66, 67, 66, 68, 68, 67, 66, 69, ...","[100, 100, 100, 100, 100, 98, 99, 98, 100, 99,...","[nan, nan, 203, nan, nan, nan, nan, nan, nan, ...",0.0,158
12733,"[19:14:19, 19:14:49, 19:15:19, 19:15:49, 19:16...","[nan, 80, 81, 76, 83, 84, 79, 88, 82, 81, 80, ...","[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[nan, 123, nan, nan, nan, nan, nan, nan, nan, ...",0.0,357
12734,"[15:17:54, 15:18:24, 15:18:54, 15:19:00, 15:20...","[67, nan, 68, 68, 68, 68, 71, 67, 67, 66, 66, ...","[97, 98, 98, 97, 95, 91, 98, 98, 98, 98, 98, 9...","[nan, nan, nan, nan, 115, nan, nan, nan, nan, ...",0.0,427
12735,"[17:39:54, 17:40:24, 17:40:54, 17:41:24, 17:41...","[100, 103, 97, 101, 100, 106, 107, 106, 107, 1...","[99, 99, 99, 99, 99, 99, 100, 99, 99, 100, 99,...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",0.0,243
12736,"[19:24:26, 19:24:56, 19:25:25, 19:25:56, 19:26...","[74, 75, 75, 74, 69, 73, 73, 72, 73, 79, 75, 7...","[98, 98, 96, 96, 97, 98, 98, 98, 99, 98, 100, ...","[178, nan, nan, nan, nan, nan, nan, 185, nan, ...",1.0,134

In [44]:
data['Mean hearthrate'] = data['HR(bpm)'].apply(lambda x: np.nanmean(x.astype(float)))
data['Std hearthrate'] = data['HR(bpm)'].apply(lambda x: np.nanstd(x.astype(float)))
data['Max hearthrate'] = data['HR(bpm)'].apply(lambda x: np.nanmax(x.astype(float)))
data['Min hearthrate'] = data['HR(bpm)'].apply(lambda x: np.nanmin(x.astype(float)))

<ipython-input-44-4ff0a15d0aba>:1: RuntimeWarning: Mean of empty slice
  data['Mean hearthrate'] = data['HR(bpm)'].apply(lambda x: np.nanmean(x.astype(float)))
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/numpy/lib/nanfunctions.py:1664: RuntimeWarning: Degrees of freedom <= 0 for slice.
  var = nanvar(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
<ipython-input-44-4ff0a15d0aba>:3: RuntimeWarning: All-NaN slice encountered
  data['Max hearthrate'] = data['HR(bpm)'].apply(lambda x: np.nanmax(x.astype(float)))
<ipython-input-44-4ff0a15d0aba>:4: RuntimeWarning: All-NaN slice encountered
  data['Min hearthrate'] = data['HR(bpm)'].apply(lambda x: np.nanmin(x.astype(float)))

In [18]:
data[data['Mean hearthrate']==np.nan]

Empty DataFrame
Columns: [MeetTijd, HR(bpm), SpO2(%), NIBP(mmHg), IcNaOk, Length_MeetTijd, Mean hearthrate, Std hearthrate, Min hearthrate, Max hearthrate]
Index: []

In [32]:
data['Percentage HR nan'] = data['HR(bpm)'].apply(lambda x: np.isnan(x.astype(float)).sum()/len(x))

In [49]:
data.sort_values(by=['Min hearthrate'], ascending=True)

,MeetTijd,HR(bpm),SpO2(%),NIBP(mmHg),IcNaOk,Length_MeetTijd,Mean hearthrate,Std hearthrate,Min hearthrate,Max hearthrate,Percentage HR nan
4472,"[12:49:54, 12:50:55, 12:51:56, 12:52:57, 12:53...","[67, 65, 69, 141, 75, 79, 158, 67, 63, 70, 81,...","[94, 97, 96, 97.5, 99, nan, 99, 99, 99, 99, 99...","[151, 151, 151, 151, 121, 121, 84, 84, 85, 85,...",0.0,135,70.335821,20.298498,0.0,241.0,0.007407
3846,"[12:35:46, 12:36:47, 12:37:48, 12:38:49, 12:39...","[64, 98, 85, 93, 99, 122, 114, 105, 100, 105, ...","[87.26, 99.94, 95.71, 97.61, 99.36, 99.9, 98.9...","[nan, nan, 116, 113, 113, 113, 160, 160, 160, ...",0.0,172,84.725610,17.128398,0.0,191.0,0.046512
1471,"[15:19:11, 15:20:12, 15:21:12, 15:22:13, 15:23...","[97, 100, 97, 99, 96, 96, 104, 84, 86, 83, 98,...","[95.19, 95.1, 94.52, 95.23, 95, 95.33, 99.97, ...","[nan, nan, 214, 210, 210, 210, 210, 210, 210, ...",0.0,127,97.244094,15.967347,0.0,132.0,0.000000
7807,"[10:10:52, 10:11:23, 10:11:53, 10:12:24, 10:12...","[73, 72, 71, 67, 76, 76, 79, 77, 72, 76, 75, 6...","[96, 97, 96, 97, 97, 96, 97, 97, 96, 98, 96, 9...","[nan, 151, 151, 151, 151, 151, 151, 140, 140, ...",0.0,213,66.658416,17.067053,0.0,95.0,0.051643
3188,"[08:28:01, 08:29:02, 08:30:03, 08:31:04, 08:32...","[71, 68, 70, 135, 69, 69, 168, 169, 71, 149, 1...","[96, 97, 97, 97, 97, 98, nan, 97, 97, 97, 98, ...","[nan, 169, 161, 161, 161, 149, 149, 149, 159, ...",0.0,268,67.850746,26.499932,0.0,186.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
12110,"[11:38:00, 12:40:00, 12:41:00, 12:42:02, 12:42...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, 99, 99, 100, 100, 100, 100, 100, 100, 10...","[138, nan, nan, nan, nan, nan, nan, nan, nan, ...",0.0,69,NaN,NaN,NaN,NaN,1.000000
12184,"[14:30:31, 14:31:01, 14:31:31, 14:32:01, 14:32...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[100, 100, 100, 100, 100, 100, 95, 96, 95, 95,...","[nan, nan, nan, 105, nan, nan, 104, nan, nan, ...",0.0,101,NaN,NaN,NaN,NaN,1.000000
12209,"[13:55:00, 13:55:30, 13:56:00, 13:56:30, 13:57...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[nan, nan, nan, nan, nan, 133, nan, nan, nan, ...",0.0,94,NaN,NaN,NaN,NaN,1.000000
12214,"[14:11:31, 14:12:01, 14:12:31, 14:13:01, 14:13...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[130, nan, nan, nan, nan, nan, 147, nan, nan, ...",0.0,91,NaN,NaN,NaN,NaN,1.000000
12267,"[13:21:26, 13:21:57, 13:22:27, 13:22:57, 13:23...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[99, 99, 98, 98, 98, 97, 100, 100, 99, 98, 100...","[nan, nan, nan, 140, nan, nan, nan, nan, nan, ...",0.0,84,NaN,NaN,NaN,NaN,1.000000

In [40]:
len(data[data['Percentage HR nan']<0.05])

11899

In [31]:
np.isnan(np.array([1,1,1,1,np.nan])).sum()/5

0.2

In [43]:
data['Length_MeetTijd'].mean()

230.4246564585787

In [51]:
data.iloc[4472]['HR(bpm)']

array(['67', '65', '69', '141', '75', '79', '158', '67', '63', '70', '81',
       '0', '52', '61', '61', '87', '62', '63', '66', '67', '64', '65',
       '61', '65', '63', '60', '58', '66', 'nan', '60', '66', '73', '66',
       '71', '70', '241', '128', '91', '66', '73', '65', '70', '70', '67',
       '67', '68', '67', '63', '69', '69', '71', '76', '106', '67', '76',
       '67', '76', '75', '66', '76', '71', '70', '68', '69', '69', '69',
       '68', '71', '70', '70', '70', '70', '76', '71', '72', '68', '69',
       '69', '68', '67', '67', '69', '66', '68', '65', '66', '68', '66',
       '66', '65', '65', '66', '65', '67', '65', '65', '66', '64', '67',
       '64', '66', '64', '65', '64', '66', '66', '65', '66', '65', '65',
       '67', '66', '65', '67', '67', '68', '66', '67', '67', '65', '64',
       '63', '66', '66', '66', '68', '66', '67', '66', '67', '69', '67',
       '67', '67', '72'], dtype='<U32')