In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('pdmssetw.csv')

In [3]:
data.head()

   Unnamed: 0 MeetTijd HR(bpm) SpO2(%) NIBP(mmHg)  IcNaOk
0           0     ['']    ['']    ['']       ['']     0.0
1           1     ['']    ['']    ['']       ['']     0.0
2           2     ['']    ['']    ['']       ['']     0.0
3           3     ['']    ['']    ['']       ['']     0.0
4           4     ['']    ['']    ['']       ['']     0.0